
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #8787d8;
  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
}


main{
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #d0d2ee;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
}
input[type="text"] {
  padding: 10px;
  width: 80%;
  max-width: 500px;
  margin-bottom: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s;
}


ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

li {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

li:hover {
  transform: scale(1.02);
}

h1 {
  color: #31117a;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  color: #0056b3;
}

p {
  font-size: 16px;
  color: #666;
}
main h1 {
  border-bottom: 2px solid #7741b6;  
  padding-bottom: 10px;  
}
